*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
coverage.out
coverage.html
.DS_Store
.idea/
.vscode/

# example binaries
/examples/extract-text/extract-text
/examples/parse-server/parse-server
/examples/native-cgo/native-cgo
